{% extends "EsieaBlogBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

	<h2> Remerciements </h2>

	<h3> Cette page a été crée par A.BERDAOUI et D.MA </h3>

{% endblock %}